#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.pikachu {
  height: 8em;
  padding: 3em;
  will-change: filter;
  transition: filter 200ms;
}
.pikachu:hover {
  filter: drop-shadow(0 0 0.4em #f4dc26);
}

.exploreButton {
  padding: 2em;
  color: #ff7b7b;
}

.exploreButtonText {
  color: #ff9090;
  font-size: 1.5em;
  padding: 0.8em 1em;
}

.title {
  padding-top: 1rem;
  justify-content: center;
  text-shadow: 0 0 0.2em #000000;
  color: #ff4848;
  font-size: 4rem;
}

.snivy {
  width: 8%;
  height: auto;
  position: absolute;
  bottom: 4%;
  left: 0;
  transform: translateX(-100%);
  animation: snivy-slide-in 3s forwards;
}

@keyframes snivy-slide-in {
  0% {
    transform: translateX(-100%) translateY(100%) scaleX(-1);
  }
  50% {
    transform: translateX(0) translateY(0) scaleX(-1);
  }
  100% {
    transform: translateX(calc(50vw - 300%)) translateY(0) scaleX(-1);
  }
}

.cyndaquil {
  width: 12%;
  height: auto;
  position: absolute;
  bottom: 4%;
  right: 0;
  transform: translateX(100%);
  animation: cyndaquil-slide-in 3s forwards;
}

@keyframes cyndaquil-slide-in {
  0% {
    transform: translateX(100%) translateY(100%);
  }
  50% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(calc(-50vw + 230%)) translateY(0);
  }
}