#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 8em;
  padding: 3em;
  will-change: filter;
  transition: filter 200ms;
}
.logo:hover {
  filter: drop-shadow(0 0 0.4em #f4dc26);
}

.exploreButton {
  padding: 2em;
  color: #646cff;
}

.exploreButtonText {
  color: #646cff;
  padding: 0.8em 1em;
}

.title {
  color: #646cff
}