.wordle-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Helvetica Neue', sans-serif;
  padding-top: 80px;
  box-sizing: border-box;
}

.wordle-game h1 {
  color: white !important;
}

.grid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  margin-bottom: 20px;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.tile {
  width: 60px;
  height: 60px;
  border: 2px solid #d3d6da;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.tile.correct {
  background-color: #6aaa64;
  color: white;
  border-color: #6aaa64;
}

.tile.present {
  background-color: #c9b458;
  color: white;
  border-color: #c9b458;
}

.tile.absent {
  background-color: #787c7e;
  color: white;
  border-color: #787c7e;
}


.keyboard {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(10, minmax(43px, 1fr));
  grid-auto-rows: 58px;
  gap: 8px 6px;
  max-width: 530px;
  margin: 20px auto 0;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  background: #565758;
  color: #fff;
}

.key.correct {
    background-color: #6aaa64;
    color: white;
}

.key.present {
    background-color: #c9b458;
    color: white;
}

.key.absent {
    background-color: #787c7e;
    color: white;
}

.message {
    margin-bottom: 10px;
    font-size: 1.2rem;
}
